<h1>{{ title }}</h1>
<ul>
    {{#each users}}
        <li>
            {{ studentmubmer }} / {{ studentname }} /{{ studentgrade }} / {{ studenttime }} / {{ studentemail }} / {{ studentdepartment }}
        </a>
    </li>
    {{/each}}   
</ul>